.main-layout {
  display: flex;
  flex-direction: column; 
  height: 200vh; 
  overflow: hidden; 
}


.layout-content {
  display: flex; 
  flex: 1;
  margin-top: 60px; 
  position: relative;
}

.sidebar {
  width: 250px; 
  height: calc(100vh - 60px); 
  color: white;
  position: fixed;
  top: 68px; 
  left: 0;
  z-index: 999; 
}

.content {
  flex: 1; 
  overflow: auto; 
  padding: 20px;
  margin-left: 250px; 
  padding-left: 60px;
  padding-right: 60px;
}
